/* 1. Importación de Fuentes desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Montserrat:wght@400;700&display=swap');

/* 2. Importación de TODO el framework Bootstrap */
@import "bootstrap/dist/css/bootstrap.min.css";

/* ===== 3. DEFINICIÓN DE NUESTROS ESTILOS CORPORATIVOS ===== */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa; /* Un gris muy claro para el fondo */
}

h1, h2, h3, h4, h5, h6, .navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

/* Clase para nuestro color corporativo */
.corporate-red {
    color: #C00000 !important; /* Rojo Escarlata, !important para darle prioridad */
}

/* Estilos para nuestro botón corporativo */
.btn-corporate {
    background-color: #C00000;
    color: white;
    border: 1px solid #A00000;
}

.btn-corporate:hover {
    background-color: #A00000;
    color: white;
}


/* Estilos personales */

.logo-placeholder {
            width: 150px;
            height: 50px;
            background-color: #e9ecef;
            border: 2px dashed #ced4da;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #6c757d;
            font-size: 0.9rem;
}

.navbar-brand {
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
}